.dark-theme{
    --bg-top-image: url("images/bg-desktop-dark.jpg") no-repeat;
    --main-bg: hsl(235, 21%, 11%);
    --todo-bg: hsl(235, 24%, 19%);
    --todo-shadow: hsl(235, 21%, 11%);
    --font-color: hsl(234, 39%, 85%);
    --font-color-hover: #fff;
}

.light-theme{
    --bg-top-image: url("images/bg-desktop-light.jpg");
    --main-bg: hsl(0, 0%, 98%);
    --todo-bg: hsl(0, 0%, 98%);
    --todo-shadow: hsl(235, 19%, 35%);
    --font-color: hsl(236, 9%, 61%);
    --font-color-hover: hsl(235, 21%, 11%);
}

.change-theme #theme{
    display: none;
}

.change-theme #theme + label {
    content: '';
    background: url("images/icon-sun.svg");
    display: block;
    height: 26px;
    width: 26px;
    cursor: pointer;
}

.change-theme #theme:checked + label {
    background: url("images/icon-moon.svg");
}